<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css">
<body>
<div class="row">
    <div class="containers col-lg-7 col-md-7">
      
      <div class="pic"></div>
      
      <div class="box1"></div>
      <div class="box2"></div>
      
      <div class="social1">
        <i class="fa fa-facebook" aria-hidden="true"></i> 
      </div>
      <div class="social2">
      <i class="fa-brands fa-instagram" aria-hidden="true"></i>
      </div>
      <div class="social3">
        <i class="fa-brands fa-google" aria-hidden="true"></i>
      </div>
    </div>
    
    <div class="content col-md-offset-5 col-lg-offset-5">
      <h1 class="contentHead">ABOUT US.....</h1>
      
      <h2>Hi Folks, <br/><br/>
        Welcome to Ani<span style="color: red;">MAX</span> your ultimate anime destination! We're a passionate community celebrating Japanese animation. Explore a curated selection of classics and new releases, join discussions, and connect with fellow fans. Whether you're a seasoned otaku or new to anime, Ani<span style="color: red;">MAX</span> is your go-to for all things anime. Let's dive into the exciting world of animation together!
        <br/><br/>
        Show your L<span>&hearts;</span>VE if you like being with us.
        <br/><br/>
        
       
      </h2>
    </div>
    </div>   
</body>