<section class="home" id="home">
    <div class="swiper home-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="box">
            <div class="content">
              <h1>1 Spotlight</h1>
              <h3>Attack On Titan</h3>
              <p> the story follows eren yeager and his friends mikasa and armin as they
                join the military to fight against the titans and uncover the truth
                about their mysterious origin and the secrets behind the walled city
                they live in.</p>
              <a href="#" class="btn"><i class="fa fa-play-circle" aria-hidden="true"></i>watch now</a>
              <a href="#" class="detail-btn">detail<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="image-container" id="aot-slide"></div>
        </div>

        <div class="swiper-slide">
          <div class="box second">
            <div class="content">
              <h1>2 Spotlight</h1>
              <h3>fullmetal alchemist: brotherhood</h3>
              <p> two brothers, edward and alphonse elric, who use alchemy to search for the philosopher's stone
                to restore their bodies after a failed alchemical experiment.
                their journey unveils a complex world of political intrigue, moral dilemmas, and dark secrets.</p>
              <a href="#" class="btn"><i class="fa fa-play-circle" aria-hidden="true"></i>watch now</a>
              <a href="#" class="detail-btn">detail<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="image-container" id="fma-slide"></div>
        </div>

        <div class="swiper-slide">
          <div class="box third">
            <div class="content">
              <h1>3 Spotlight</h1>
              <h3>Death Note</h3>
              <p> the story follows follows a high school student named light yagami who
                discovers a supernatural notebook
                that allows him to kill anyone by writing
                their name in it. </p>
              <a href="#" class="btn"><i class="fa fa-play-circle" aria-hidden="true"></i>watch now</a>
              <a href="#" class="detail-btn">detail<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="image-container" id="death-note-slide"></div>
        </div>

        <div class="swiper-slide">
          <div class="box fourth">
            <div class="content">
              <h1>4 Spotlight</h1>
              <h3>One Punch Man</h3>
              <p> portrays the life of Saitama, a hero who can defeat any opponent with a single punch.
                Bored by his own overwhelming strength, Saitama seeks a challenging fight
                while facing a world filled with increasingly bizarre and powerful villains.</p>
              <a href="#" class="btn"><i class="fa fa-play-circle" aria-hidden="true"></i>Watch Now</a>
              <a href="#" class="detail-btn">Detail<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="image-container" id="opm-slide"></div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
