<style>
    body {
      display: flex;
      padding: 3rem;
      padding-left: 9rem;
        /* align-items: center; 
      justify-content: center;  */
      height: 100vh;
      
      margin: 0;
      background: none;
    }
  </style>

<body>
<div class="container" >
    <div class="card-box" routerLink="../login">
        <div class="card">
            <div class="title">One Piece</div>
        </div>
    </div>
    <div class="card-box" routerLink="../login">
        <div class="card">
            <div class="title">Jujutsu Kaisen</div>
        </div>
    </div>
    <div class="card-box" routerLink="../login">
        <div class="card">
            <div class="title">Demon Slayer</div>
        </div>
    </div>
    <div class="card-box" routerLink="../login">
        <div class="card">
            <div class="title">Death Note</div>
        </div>
    </div>
    <div class="card-box" routerLink="../login">
        <div class="card">
            <div class="title">Tokyo Ghouls</div>
        </div>
    </div>
</div>
</body>